html, body {width: 100%;height: 100%;}
body, button, input, select, table, textarea {
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
    color: #222;
    font-size: 14px;
    line-height: 18px;
}
ul li{
    list-style: none;
}
ul{
    padding: 0px;
}
h3{
    margin: 0;
    margin-bottom: 10px;
    color: #222;
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    text-rendering: optimizeSpeed;
}
h4, .h4 {
    margin: 0;
    margin-bottom: 10px;
    color: #222;
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    text-rendering: optimizeSpeed;
}
a {
    color: #e71a0f;
    text-decoration: none;
}
.contentDetail{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0px !important;
    margin-bottom: 30px;
    height: 600px;
}

h1 .h1{
    margin: 0;
    color: #222;
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
    font-size: 28px;
    font-style: normal;
    line-height: 1.2;
    margin-bottom: 0.7em;
    text-rendering: optimizeLegibility;
}

div{
    display: block;
}
/*Start Breadcrumbs*/
.breadcrumbs{
    background-color: #f1f0e5;
    border-bottom: 1px solid #cacac0;
    padding: 5px 0;
    margin: 0;
    width: 100%;
    height: 30px;
}
.breadcrumbs .home a{
    background: url("../images/bg-cgv-bread-home.png") no-repeat scroll left center transparent;
    text-indent: -9999px;
    padding: 0 9px;
    width: 17px;
    height: 15px;
}
.breadcrumbs a{
    float: left;
    color: #636363;
    text-transform: capitalize;
    white-space: nowrap;
}
.breadcrumbs ul{
    margin: 0px auto;
    width: 980px;
    height: 30px;
    float: none;
    padding: 0px;
}
.breadcrumbs li{
    float: left;
    font-size: 15px;
    font-family: Verdana, Arial, sans-seri;
}
.breadcrumbs span{
    background: url("../images/bg-cgv-icon-arrow.png") no-repeat scroll center center transparent;
    text-indent: -9999px;
    padding: 0 15px;
    display: inline-block;
    float: none;
}
.breadcrumbs strong{
    color: #222;
    font-weight: bold;
    text-decoration: underline;
    text-transform: capitalize;
    white-space: nowrap;
}
/*End Breadcrumbs*/



/*Start mainDetail*/
.mainDetail{
    width: 980px;
    margin: 0 auto;
    margin-top: 30px;
}
.mainDetail .col-main{
    float: none;
    width: auto;
    padding: 0;

    box-sizing: border-box;
    margin: 0;
}
.page-title.product-view{
    border-bottom: 2px solid #222;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.product-img{
    float: left;
    padding-right: 15px;

}
.product-img img{
    width: 181px;
    height: 267px;
}
.product-name{
    /*float: left;*/
    border-bottom: 1px solid #d9d6c8;
    margin-bottom: 10px;
    width: 100%;
    padding-bottom: 15px;
}
.product-shop{
    float: right;
    width: 80%;
    padding-left: 15px;
    margin-bottom: 10px;
    overflow: hidden;
}
product-view .product-shop, .product-view .add-to-cart-wrapper, .product-view .block-related {
    padding-left: 15px;
}
.product-shop label{
    float: left;
}
.product-shop .std{
}
.movie-infor{
    overflow: hidden;
}
.product-shop .movie-director{
    width: 784px;
    height: 25px;
}
.movie-technology-icons{
    /*position: relative;*/
    float: right;
    width: 769px;
    margin-bottom: 15px;
    /*padding-left: 15px;*/
}
.movie-rating-detail {
    float: left;
    font-size: 0px;
    display: block;
    height: 45px;
    width: 68px;
    background-image: url("../images/movie-icon.png");
}
.movie-technology-icons .rate_c18 {
    background-position: -931px 0px;
}
.movie-technology-icons .rate_c16 {
    background-position: -858px 0px;
}
.movie-technology-icons .rate_c13 {
    background-position: -785px 0px;
}
.movie-technology-icons .rate_cp {
    background-position: -711px 0px;
}
.movie-technology-icons a span {
    background-image: url("../images/movie-icon.png");
    display: inline-block;
    float: left;
    height: 45px;
    margin-left: 5px;
    position: relative;
    text-indent: -99999px;
    width: 64px;
}
.movie-detail-type-3d {
    background-position: 875px 0;
}
.movie-detail-type-4dx{
    background-position: -363px 0;
}
.movie-detail-type-imax{
    background-position: -501px 0;
}
.movie-detail-type-starium{
    background-position: -641px 0;
}
.btn-booking {
    background: none no-repeat scroll 0 0 #e71a0f;
    border-radius: 5px;
}
.movie-detail-fb-booking{
    margin-bottom: 10px;
    padding: 0px;
}
.btn-booking > span > span{
    padding-left: 25px;
    margin: 5px;
    background: url(../images/bg-cate-booking.png) no-repeat scroll left center rgba(0, 0, 0, 0);
    border-radius: 5px;
}
.add-to-cart-wrapper .button{
    /*margin: 2px 2px;*/
    background: #e71a0f;
    display: inline-block;
    padding: 8px 1px;
    border: 0;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: normal;
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    /*flex: 1;*/
}
.fb_iframe_widget{
    display: inline-block;
}



.desc{
    position: relative;
    top: 330px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.desc .toggle_tabs{
    text-align: centter;
    padding: 0 auto;
    height: 40px;
    width: 500px;

}
.desc ul li{
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin: 0;
}
.desc ul li a{
    color: #ffffff;
}
.desc ul .current{
    position: absolute;
    top: 0px;
    right: 50%;
    height: 40px;
    background: url("../images/ribon_left_menu.gif") no-repeat scroll left 0 #e71a0f;
    padding: 8px 15px 8px 30px;

}
.desc ul .last{
    position: absolute;
    top: 0px;
    left:50%;
    height: 40px;
    background: url("../images/ribon_right.gif") no-repeat scroll right 0 #e71a0f;
    padding: 10px 30px 8px 0px;
}
.desc .last a{
    padding-left:  15px;
    border-left: 1px solid #FFFFFF;
}
.descrip{
    height: 100px;
}
.descrip p{
    color: #1b1e21;
    position: absolute;
}


/*.banner-bottom {*/
/*    width: 980px;*/
/*    margin: 0 auto;*/
/*}*/
/*.sticky-banner {*/
/*    display: none;*/
/*    position: fixed;*/
/*    left: 0;*/
/*    bottom: -4px;*/
/*    text-align: center;*/
/*    width: 100%;*/
/*    z-index: 99998;*/
/*}*/
/*.banner-click {*/
/*    float: left;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*    padding-left: 1%;*/
/*}*/
/*.close-bottom-banner {*/
/*    position: relative;*/
/*    bottom: 60px;*/
/*    right: 18px;*/
/*    background: #f5f5f5;*/
/*    padding: 8px 12px;*/
/*    border-radius: 20px;*/
/*    cursor: pointer;*/
/*    z-index: 99999;*/
/*    float: none!important;*/
/*}*/
/*End mainDetail*/


/*start mua ve*/
#myModal{
    /*display: block;*/
    visibility: visible;
    top: 40px;
    left: 81px;
    position: fixed;
    width: 1187px;
    height: 550px;
    border: 5px solid #000;
    background: #fdfcf0;
}
#myModal #cboxClose {
    position: fixed;
    /*top: 0px;*/
    /*right: 0px;*/
    top: 42px;
    right: 115px;
    display: block;
    background: url(../images/controls.png) no-repeat top center;
    width: 38px;
    height: 19px;
    text-indent: -9999px;
    border: none;
    z-index: 1000;
}


/*Date*/
.content-modal .date ul.toggle-tabs {
    /*border-top: 2px solid #2b2b2b;*/
    display: inline-block;
    margin-bottom: 30px;
    padding: 20px 20px 20px 0px ;
}
.content-modal .date ul .toggle-tabs {
    background: transparent;
    border: medium none;
    text-align: center;
    width: 100%;
    position: relative;
}
.content-modal .date ul, ol, li {
    list-style: none;
    float: left;
}
.content-modal .date ul.toggle-tabs li {
    border: 2px solid #fff;
    border-radius: 5px;
}
.content-modal .date ul.toggle-tabs li.current {
    border: 2px solid #222;
    border-radius: 5px;
}
.content-modal .date ul.toggle-tabs li:hover {
    border: 2px solid #222;
    border-radius: 5px;
}
.content-modal .date{
    height: 148px;
    width: 100%;
    padding: 20px;
    border-bottom: 2px solid #2b2b2b;
}
.content-modal .date .day {
    color: #717171;
    cursor: pointer;
    height: 48px;
    position: relative;
    width: 77px;
    border: 2px solid #fdfcf0;
    border-radius: 5px;
}
.content-modal .date .day > span {
    color: #717171;
    font-size: 11px;
    left: 4px;
    position: absolute;
    top: 4px;
}
.content-modal .date .day > em {
    color: #717171;
    font-size: 11px;
    font-style: normal;
    left: 4px;
    position: absolute;
    top: 20px;
}
.content-modal .date .day > strong {
    color: #717171;
    font-size: 32px;
    font-weight: normal;
    left: 31px;
    line-height: 32px;
    position: absolute;
    top: 8px;
}

/*Location*/
.content-modal .location{
    margin-left: 20px;
    padding: 20px 0px;
    width: 100%;
    height: 120px;
    border-bottom: 2px solid #2b2b2b;
    position: relative;
}
.content-modal .location ul.toggle-tabs {
    width: 100%;
    /*padding: 20px 0px;*/
}
.content-modal .location .toggle-tabs {
    background: transparent;
    border: medium none;
    text-align: center;
    display: block;
    width: 100%;
    position: absolute;
    top: 20px;
    /*background-color: #f4f4f4;*/
}
.content-modal .location .toggle-tabs li span {
    color: #636363;
}
.content-modal .location .toggle-tabs li > span {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    display: inline-block;
    padding: 0px 10px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-size: 12px;
    position: relative;
}
.content-modal .location ul.toggle-tabs li.current {
    background: #222;
    border-radius: 5px;
    /*color: #FFFFFF;*/
}
.content-modal .location ul.toggle-tabs li.current span {
    color: #fff !important;
}
.content-modal .location .toggle-tabs li:first-child {
    border-left: none;
}

/*Type*/
.content-modal .type{
    width: 100%;
    height: 77px;
    padding: 20px;
    border-bottom: 2px solid #2b2b2b;
    margin-left: 20px;
    position: relative;
}
.content-modal .type .toggle-tabs li {
    margin-right: 3px;
    border: 2px solid #222;
    border-radius: 5px;
}
.content-modal .type ul.toggle-tabs li:first-child {
    border-left: 2px solid #222;
}
.content-modal .type .toggle-tabs li {
    margin-right: 3px;
}
.content-modal .type ul.toggle-tabs li.current {
    border: 2px solid #222;
    border-radius: 5px;
}
.content-modal .type ul.toggle-tabs li:first-child {
    border-left: 2px solid #222;
}
.content-modal .type ul.toggle-tabs li.current span {
    height: 29px;
    line-height: 29px;
    color: #fff;
}
.content-modal .type .toggle-tabs li.current > span {
    z-index: 5;
}
.content-modal .type ul.toggle-tabs li span {
    padding: 0px 10px;
    height: 29px;
    line-height: 29px;
    color: #636363;
}
.content-modal .type ul.toggle-tabs li.current {
    background-color: #222;
    border-radius: 5px;
}

/*Cinemas*/
.content-modal .cinemas {
    position: relative;
    width: 100%;
    padding: 20px;
    margin-left: 20px;
    border-bottom: 2px solid #2b2b2b;
    display: none;
}
.content-modal .cinemas .cinema_child{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #222;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.content-modal .cinemas .cinema_child ul{
    display: inline-block;
}
.content-modal .cinemas .cinema_child .site h3 {
    font-weight: 400;
    color: #636363;
}
.content-modal .cinemas .cinema_child .cinema {
    margin-top: 15px;
}
.content-modal .cinemas .cinema_child .cinema h4 {
    font-weight: 400;
}
.content-modal .cinemas .cinema_child .products-grid-movie.tab-showtime {
    margin-bottom: 15px;
}
.content-modal .cinemas .cinema_child .tab-showtime li.item {
    border: 1px solid #cbcabe;
    color: #222;
    text-align: center;
}
.content-modal .cinemas .cinema_child .tab-showtime li {
    border: 1px solid #222;
    padding: 5px 10px;
    float: left;
    margin-right: 3px;
    text-align: center;
    margin-top: 3px;
    width: 125px;
}
.content-modal .cinemas .cinema_child .tab-showtime li.item:hover {
    border: 1px solid #222;
}
.content-modal .cinemas .cinema_child .tab-showtime li.item a span {
    color: #222;
    clear: both;
    float: left;
    width: 100%;
}
.show{
    display: block;
}
/*end mua ve*/

