html {
    box-sizing: border-box;
}
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
a{
    text-decoration: none;
}
a:focus{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
body{
    margin: 0 auto;
}
.upcase{
    text-transform: uppercase;
}
/* thanh navbar */
header .navbar
{
    /* position: absolute; */
    min-height: 30px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
header .navbar .menu
{
    display: inline-block;
    text-align: right;
    height: 30px;
    width: 980px;
    margin: 0 auto;
    padding-top: 5px;
}
.navbar .menu a{
    margin-right: 20px;
    top: 5px;
    color:#666;
}
.navbar .menu .styleA{
    position: relative;
    top: -5px;
}
.navbar .menu .selected{
    
    background-color: #e71a0f;
    
}
.navbar .menu .vn{
    padding: 1px 7px;
    font-size: 15px;
    /* làm cong border */
    border-radius: 5px 0px 0px 5px;
}
.navbar .menu .en{
    padding: 1px 7px;
    font-size: 15px;
    border-radius: 0px 5px 5px 0px;
    position: relative;
    left: -4px;
}
.navbar .menu .nonSelected{
    background-color: #666;
}
.navbar .menu ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0px;
    text-align: center;
}
.navbar .menu ul{
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
.navbar .menu ul li button{
    color: #ffffff;
    margin: 0px;
    border: none;
}
/* end navbar */

/* header */
.header{
    width: 100%;
    height: 135px;
    background-image: url("../images/bg-top.png");
    background-size: 10px 135px;
    text-align: center;
}
.header .content{
    text-align: left;
    width: 980px;
    height: 135px;
    /* border: 1px solid blue; */
    margin: 0px auto;
    display: inline-block;
}
.content .symbol{
    margin-right: 0px;
    width: 200px;
    position: relative;
    left: 0px;
    top: 40px;
}
.symbol .cgv{
    width: 136px;
    height: 59px;
    margin-right: 25px;
}
.content .menu{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 110px;
    top: 0px;
}
.content .menu ul li{
    list-style-type: none;
}
.content .menu ul li:hover .son{
    top: 20px;
    z-index: 20;
}
.menu .phim_father{
    position: absolute;
    top: 20px;
    left: 25px;
    width: 120px;
}
.menu .rap_father{
    position: absolute;
    top: 20px;
    left: 120px;
    width: 120px;
}
.menu .tv_father{
    position: absolute;
    top: 20px;
    left: 245px;
    width: 151px;
}
.menu .cul_father{
    position: absolute;
    top: 20px;
    left: 400px;
}
.content .menu ul li a{
    margin: 0px 25px 0px 25px;
    display: inline;
}
.content .menu ul li b{
    color: black;
    padding-bottom: 10px;
    display: inline;
}
.menu .son{
    background-image: url("../images/bg_menu_hover.png");
    line-height: 30px;
    width: 227px;
    /* display: inline-block; */
    padding: 3px;
    position: absolute;
    top: -1000px;
    /*top: 20px;*/
    z-index: 1000;
}

.menu .son ul{
    padding: 0px;
}
.menu .son i{
    font-size: 20px;
    opacity: 0;
}
.menu .son ul li{
    display: block;
    padding: 0px;
    text-align: left;
    border-left: 2px solid #828282;
    border-right: 2px solid #828282;
    width: 100%;
}
.menu .son ul li:first-child{
    padding-top: 10px;
    border-top: 2px solid #828282;
}
.menu .son ul li:last-child{
    padding-bottom: 10px;
    border-bottom: 2px solid #828282;
}
.menu .son ul li a:hover{
    color: #e71a0f;
}
.menu .son ul li a:hover i{
    opacity: 1;
}
.menu .son ul li a{
    color: #ffffff;
    font-size: 13px;
    font-family: Verdana,Arial,sans-serif;
    font-weight: bold;
}
.content .search{
    display: flex;
    position: absolute;
    right: 170px;
    top: 60px;
}
.search .col1{
    flex: 1;
}
.search .col2{
    flex: 1;
}
.col1 .new{
    position: relative;
    top: 10px;
}
.col1 input {
    width: 139px;
    height: 25px;
    top: 0px;
    padding-left: 30px;
    position: relative;
}
.col1 i{
    position: relative;
    font-size: 15px;
    top: 20px;
    left: 8px;
    width: 10px;
    height: 10px;
    z-index: 50;
}
.col2 .buy{
    position: relative;
    top: -15px;
    left: 8px;
}
/* end header */

/* container */
.container-fluit{
    text-align: center;
    margin: 0px auto;
}

/* row1 */
.row1{
    width: 980px;
    height: 108px;
    /* border: 1px solid blue; */
    margin: 0 auto;
    border-bottom: 1px solid #222;
}
/* select */
.row1 .select{
    background-image: url("../images/bg-header-transparent-home.png");
    background-size: 980px;
    width: 980px;
    height: 100px;
    border-bottom: 1px solid #222;
    margin-bottom:6px;
    margin-top: 25px;
}
.row1 .select ul li{
    list-style-type: none;
    /* display: inline-block; */
}
.row1 .select ul{
    width: 980px;
    height: 100px;
    display: flex;
    padding: 0px;
    margin: 0px;
}
.select ul li{
    flex:1;
    width: 140px;
    height:90px;
    display: flex;
    border-right: 1px solid #222;
}
.select ul li:last-child{
    border-right: none;
}
.select ul li a{
    flex: 1;
    width: 145px;
    height: 90px;
}
/* end select */ 
/* end row1 */

/* intro */
.intro{
    position: relative;
    width: 100%;
    height: 448px;
    margin: 15px 0px;
    background-image: url("../images/bg_c_bricks.png");
}
.intro .slide{
    width: 980px;
    height: 447px;
    background-color: #666;
    margin: 0px auto;
}
/* end intro */

/* movie_selection */
.movie_selection{
    width: 980px;
    margin: 0 auto;
    padding-top: 15px;
    /* margin-bottom: 50px; */
}
.text{
    text-align: center;
    height: 60px;
    margin: 20px 0px;
    width: 100%;
    background-image: url("../images/bg_h3_line.jpg");
    background-repeat: repeat-x;
    background-position: center;
}
.movie_selection .text .font_text{
    background: url("../images/h3_movie_selection.gif") no-repeat scroll center center / 406px 41px #FDFCF0;
    height: 60px;
    width: 425px;
    margin: 0px auto;
}
.movie_selection .mother_slide{
    width: 980px;
    height: 355px;
    position: relative;
}
.movie_selection .slide{
    width: 980px;
    height: 355px;
    /* position: relative; */
    overflow: hidden;
}
.movie_selection .slide ul{
    display: flex;
    /* width: 980px; */
    height: 355px;
    padding-left:0px; 
    text-align: left;
    transition: 1s;
}
.movie_selection .slide ul li{
    list-style-type: none;
    margin-right: 5px;
}
.movie_selection .slide .mySlides{
    display: inline-block;
    padding: 0px;
    transition-timing-function: linear;
    position: relative;
}
.movie_selection .slide .mySlides img{
    width: 240px;
}
.movie_selection .slide .mySlides:first-child{
    margin-left: 0px;
}
.movie_selection .mother_slide .selection_lui{
    background-image: url("../images/arow-movie-selection.png");
    background-repeat: no-repeat;
    background-position: -34px 0px;
    display: inline-block;
    height: 68px;
    /* text-indent: -9999px; */
    width: 33px;
    position: absolute;
    top: 150px;
    left: -35px;
}
.movie_selection .mother_slide .selection_tien{
    background-image: url("../images/arow-movie-selection.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 68px;
    text-indent: -9999px;
    width: 33px;
    position: absolute;
    top: 150px;
    right: -32px;
}
.movie_selection .mother_slide button{
    text-decoration: none;
    border: none;
    background-color: white;
}
.movie_rating{
    position: absolute;
    z-index: 20;
    width: 45px;
    height: 30px;
    top: 15px;
    left: 15px;
    font-size: 0px;
    background: url("../images/bg-movie-rating.png");
    background-repeat: no-repeat;
}
.c18{
    background-position: -144px -2px;
}
.c16{
    background-position: -97px -2px;
}
.c13{
    background-position: -50px -2px;
}
.cp{
    background-position: -3px -2px;
}
.mySlides .play_button{
    background-image: url("../images/bg-transparent-grey.png");
    background-repeat: no-repeat;
    height: 355px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 240px;
    text-indent: -99999px;
    display: none;
    cursor: pointer;
}
.mySlides .button{
    background-color: #e71a0f;
    display: inline-block;
    padding: 6px 7px;
    border: 0;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: normal;
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 5px;
    margin: 0px 4px;
}
.mySlides h3{
    color: #FFFFFF;
}
.mySlides .conect_film_back{
    display: none;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100px;
    z-index: 997;
}
.mySlides .conect_film{
    display: none;
    text-align: center;
    padding: 0px 10px 20px 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 999;
}
.mySlides:hover .conect_film{
    display: block;
}
.mySlides:hover .play_button{
    display: block;
}
.mySlides:hover .conect_film_back{
    display: block;
}
.mySlides h3{
    font-size: 19px;
}
/* end movie_selection */

/* end container */

/* stick */
.chua{
    
    
}
.stick1{
    position: fixed;
    top: 20px;
    left: 10px;
    width: 120px;
    height: 1200px;
    z-index: 1000;
    
}
.stick2{
    position: fixed;
    top: 20px;
    right: 10px;
    width: 120px;
    height: 1200px;
    z-index: 1000;
    background-image: url("../images/bg-banner-right-vn.PNG");
    background-repeat: no-repeat;
    
}
.stick2 ul{
    position: absolute;
    top: 100px;
    margin: 0px;
    padding-left:0; 
    text-decoration: none;
}
.stick2 ul li{
    text-align: center;
    list-style-type: none;
    padding-top: 20px;
    height: 120px;
}
.stick2 ul{
    position: absolute;
    top: 100px;
}
/* end stick */

/* event */
.event{
    width: 980px;
    margin: 0 auto;
    padding-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}
/* tieu de phan event */
.event .font_text{
    background: url("../images/h3_event.gif") no-repeat scroll center center / 142px 39px #FDFCF0;
    height: 60px;
    width: 155px;
    margin: 0px auto;
}
/* toggle_tabs */
.event .toggle_tabs{
    /* border: 1px solid black; */
    text-align: centter;
    padding: 0 auto;
    height: 40px;
    width: 500px;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
}
.event ul li{
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin: 0;
}
.event ul li a{
    color: #ffffff;
}
.event ul .current{
    position: absolute;
    top: 0px;
    right: 50%;
    height: 40px;
    background: url("../../images/ribon_left_menu.gif") no-repeat scroll left 0 #e71a0f;
    padding: 8px 15px 8px 30px;
    
}
.event ul .last{
    position: absolute;
    top: 0px;
    left:50%;
    height: 40px;
    background: url("../../images/ribon_right.gif") no-repeat scroll right 0 #e71a0f;
    padding: 10px 30px 8px 0px;
}
.event .last a{
    padding-left:  15px;
    border-left: 1px solid #FFFFFF;
}
/* slide event */

.event .mother_slide{
    margin-top: 15px;
    width: 980px;
    height: 201px;
    position: relative;
}
.event .slide{
    width: 980px;
    height: 201px;
    overflow: hidden;
}
.event .slide ul{
    display: flex;
    height: 201px;
    padding-left:0px; 
    text-align: left;
    transition: 1s;
}
.event .slide ul li{
    list-style-type: none;
    margin-right: 5px;
}
.event .slide .mySlides{
    display: inline-block;
    padding: 0px;
    transition-timing-function: linear;
    position: relative;
}
.event .slide .mySlides img{
    width: 240px;
    height: 201px;
}
.event .slide .mySlides:first-child{
    margin-left: 0px;
}
.event .mother_slide .selection_lui2{
    background-image: url("../images/arow-movie-selection.png");
    background-repeat: no-repeat;
    background-position: -34px 0px;
    display: inline-block;
    height: 68px;
    /* text-indent: -9999px; */
    width: 33px;
    position: absolute;
    top: 70px;
    left: -35px;
}
.event .mother_slide .selection_tien2{
    background-image: url("../images/arow-movie-selection.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 68px;
    text-indent: -9999px;
    width: 33px;
    position: absolute;
    top: 70px;
    right: -32px;
}
.event .mother_slide button{
    text-decoration: none;
    border: none;
    background-color: white;
}

/* end slide event */
/* end event */

/* home_promotion_card */
.home_promotion_card{
    width: 980px;
    height: 311px;
    margin: 0 auto;
    padding-top: 30px;
    border-top: 3px solid #241d1e;
    border-bottom: 3px solid #241d1e;
    /* margin-bottom: 10px; */
}
.home_promotion_card .card{
    margin-left: 10px;
}
.home_promotion_card a img{
    width: 496px;
    padding: 3px;
    border: 3px solid #241d1e;
}
.home_promotion_card a img:hover{
    opacity: 0.9;
}
/* end home_promotion_card */

/* footer */
.footer{
    clear: both;
    width: 100%;
    padding-top: 30px;
    /* margin-bottom: 50px; */
}
/* footer_brand_slide */
.footer .footer_brand_slide{
    
    border-bottom: 2px solid #222;
    border-top: 2px solid #222;
    width: 100%;
    height: 44px;
}
.footer .footer_brand_slide ul{
    display: flex;
    margin: 0 auto;
    padding-left: 0;
    width: 980px;
    height: 44px;
    background-image: url("../images/brand-type-film-footer.png");
    background-repeat: no-repeat;
}
.footer .footer_brand_slide ul li{
    list-style-type: none;
    flex: 1;
    display: flex;
}
.footer .footer_brand_slide ul li a{
    flex: 1;
}
/* end footer_brand_slide */

/* footer_cgv_policy */
.footer_cgv_policy{
    width: 100%;
    padding: 20px 0px;
    border-bottom: 2px solid #222;
    overflow: hidden;
    display: block;
}
.footer_cgv_policy .content_cgv_policy{
    width: 980px;
    margin: 0 auto;
}
.footer_cgv_policy .content_cgv_policy .cgv_vietnam{
    float: left;
    width: 22%;
}
.footer_cgv_policy .content_cgv_policy h3{
    color: #636363;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px 0;
}
.footer_cgv_policy .content_cgv_policy  a,p{
    color: #636363;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
}
.footer_cgv_policy .content_cgv_policy  p{
    margin: 0;
}
.footer_cgv_policy .content_cgv_policy .cgv_policy{
    float: left;
    width: 22%;
}
.footer_cgv_policy .content_cgv_policy .cgv_follow_us{
    float: left;
    width: 22%;
}
.content_cgv_policy .cgv_follow_us ul{
    list-style-type: none;
    display: inline-block;
    height: 39px;
    padding-left: 0;
    width: 100%;
    margin: 0 auto;
}
.content_cgv_policy .cgv_follow_us ul li{
    list-style-type: none;
    display: inline-block;
    width: 39px;
    height: 39px;
}
.content_cgv_policy .cgv_follow_us ul li a{
    background-image: url("../images/bg-social-footer-40.png");
    /* khong lap lai anh */
    background-repeat: no-repeat;
    display:block;
    width: 39px;
    height: 39px;
}
.content_cgv_policy .cgv_follow_us ul li a:hover{
    /* bien doi hinh dang */
    transform: scale(0.9); 
}
.content_cgv_policy .cgv_follow_us .follow_fb{
    /* dat anh o vi tri x=-9 y=-2 */
    background-position: -9px -2px;
}
.content_cgv_policy .cgv_follow_us .follow_yt{
    background-position: -53px -1px;
}
.content_cgv_policy .cgv_follow_us .follow_line{
    background-position: -143px -2px;
}
.content_cgv_policy .cgv_follow_us .follow_insta{
    background-position: -97px -2px;
}
.content_cgv_policy .cgv_follow_us .follow_zalo{
    background-position: -191px -2px;
}
.content_cgv_policy .cgv_follow_us .cgv_permision{
    width: 100%;
    height: 70px;
    margin-top: 7px;
}
.content_cgv_policy .customer_cgv{
    float: right;
    width: 28%;
}
/* end footer_cgv_policy */

/* footer_cgv_address */
.footer_cgv_address{
    width: 100%;
    /* ẩn những phần thừa bên ngoài */
    overflow: hidden;
    display: block;
    padding: 15px 0px;
}
.footer_cgv_address .cgv_address_content{
    width: 980px;
    margin: 0px auto;
}
.footer_cgv_address .cgv_address_content .logo_footer_cgv{
    background-image: url("../images/common_sprite_area.png");
    background-position: -145px -319px;
    float: left;
    height: 43px;
    width: 120px;
    margin-top: 30px;
}
.footer_cgv_address .cgv_address_content .text_cgv_address{
    float: left;
    width: 80%;
}
.footer_cgv_address .cgv_address_content p{
    color: #636363;
    font-size: 13px;
    float: left;
    width: 100%;
}
.footer_cgv_address .cgv_address_content h3{
    color: #636363;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.bottom_footer{
    height: 113px;
    width: 100%;
    background-image: url("../images/bg-bottom-footer.jpg");
    /* lặp theo chiều ngang của ảnh */
    background-repeat: repeat-x;
}
/* end footer_cgv_address */
/* end footer */


.banner-bottom {
    width: 980px;
    margin: 0 auto;
}
.sticky-banner {
    display: none;
    position: fixed;
    left: 0;
    bottom: -4px;
    text-align: center;
    width: 100%;
    z-index: 99998;
}
.banner-click {
    float: left;
    width: 100%;
    text-align: center;
    padding-left: 1%;
}
.close-bottom-banner {
    position: relative;
    bottom: 60px;
    right: 18px;
    background: #f5f5f5;
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
    z-index: 99999;
    float: none!important;
}
