.payment-online{
    width: 980px;
}
.payment-header{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 18px;
    line-height: 32px;
    padding: 5px;
    margin-bottom: 30px;
}
.payment-container{
    overflow: hidden;
}
.col1{
    width: 70%;
    margin-right: 2%;
}
.col2{
    width: 28%;
}
.step{
    margin-bottom: 20px;
}
.step-header{
    background: #bcbdc0;
    border: 2px solid #9d9fa2;
    margin-bottom: 5px; 
}
.header span, .header h5{
    display: inline-block;
}
.header{
    height: 32px;
    line-height: 32px;
    margin-left: 15px;
}
.header span{
    font-size: 14px;
    font-style: italic;
}
.header h5{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.cgv-point, .discount-code, .voucher, .partner, .promotion-code{
    background: #fff1ce;
    margin-bottom: 5px;
    padding: 10px;
}
.diem-cgv, .the-qua-tang{
    display: inline-block;
    width: 49%;
    padding-left: 13px;
    padding-right: 13px;
}
h6, .dang-ky{
    display: inline-block;
}
.under-cgv-point input[type=text]{
    width: 110px;
    height: 30px;
    text-align: center;
    border: 2px solid #b5b5b5;
}
.su-dung, .dang-ky{
    padding: 3px 10px;
    font-size: 12px;
    font-weight: bold;
    background: #e71a0f;
    border: 0;
    color: #FFFFFF;
    line-height: 19px;
    text-align: center;
}
.under-cgv-point input[type=text], .under-cgv-point .su-dung, .under-cgv-point input[type=checkbox]{
    display: inline-block;
}
.under-cgv-point .header{
    margin: 10px 0 0 0;
    height: 40px;
}
h6{
    font-size: 13px;
    font-weight: bold;
}
.dang-ky{
    float: right;
}
.op-col{
    padding: 0 2% !important;
    width: 49%;
    display: inline-block;
    vertical-align: top;
    height: 168px;
}
.op-col .header{
    margin: 10px 0 0;
    height: 40px;
}
.chua-dung, .expire-date{
    display: inline-block;
    font-size: 12px;
}
.chua-dung{
    width: 60%;
}
.expire-date{
    width: 34%;
    vertical-align: top;
}
.expire-date input[type=checkbox]{
    margin-left: 5px;
}
.op3{
    height: 50px;
}
.doi-tac, .uu-dai{
    display: inline-block;
}
.doi-tac{
    width: 30%;
    vertical-align: top;
}
.uu-dai{
    width: 69%;
    padding: 0 2% !important;
    margin: 20px 0;
    border-left: 1px solid #ededed;
    font-size: 13px;
}
.doi-tac .name{
    background-position: 160px 0px;
    color: #ca252c;
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg-icon-partner-cgv.png) no-repeat right top;
    font-weight: bold;
    margin: 29px 14px;
}
.uu-dai .tieu-de{
    min-height: 40px;
    margin-top: 10px;
    font-weight: bold;
}
.uu-dai form{
    margin: 0;
}
.vpbank-code{
    width: 365px;
    max-width: 100%;
}
.uu-dai .su-dung{
    width: 76px;
    font-size: 12px;
}
.uu-dai p{
    margin: 0;
    font-size: 14px;
}
.uu-dai a{
    color: #e71a0f;
    text-decoration: none;
}
.under-promotion-code form{
    padding-left: 20%;
    margin-bottom: 30px;
}
.under-promotion-code b{
    font-size: 13px;
}
.under-promotion-code input[type=text]{
    width: 365px;
    height: 30px;
    margin-top: 10px;
}
.under-promotion-code .su-dung{
    width: 76px;
    display: inline-block;
}
.under-cgv-point .giamgia{
    text-align: right;
    border-top: 1px dashed #c3bda5;
    margin: 15px 0;
    padding-top: 10px;
}
.under-cgv-point, .under_discount-code, .under-voucher, .under-partner, .under-promotion-code{
    display: none;
}
.step-container{
    background: #fff1ce;
}
.method{
    height: 32px;
    line-height: 32px;
    display: block;
    margin: 13px 0 5px 15px;
}
.method .img{
    background-size: 100% 100%;
    margin: 0 7px;
}
.atm-img{
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/payment/atm_ic.png) no-repeat;   
    padding: 4px 19px;
}
.international-img{
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/payment/creditcard_ic.png) no-repeat;
    padding: 12px 19px;
}
.momo-img{
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/payment/momo_ic.png) no-repeat;
    padding: 4px 19px;
}
.zalopay-img{
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/payment/zalopay_ic.png) no-repeat;
    padding: 10px 19px;
}
.airpay-img{
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/payment/airpay_ic.png) no-repeat;
    width: 37px;
    height: 37px;
    display: inline-block;
    vertical-align: middle
}
.airpay{
    padding-bottom: 47px;
}
.method:first-child{
    margin-top: 0;
}
.extra{
    background: #fff1ce;
    display: none;
}
.extra-left, .extra-right{
    display: inline-block;
    width: 49%;
    padding: 10px;
}
.extra-left{
    text-align: left;
}
.extra-right{
    text-align: center;
    vertical-align: top;
}
.iaccept-name{
    font-size: 12px;
}
.col1, .col2{
    float: left;
}
.table{
    border: 1px solid #d4d3c9;
}
.col2-header, .std, .price{
    font-weight: bold;
    text-align: center;
    background: #fff1ce;
    height: 35px;
    line-height: 35px;
}
.std{
    font-weight: normal;
    border-top: 1px solid #d4d3c9;
}
.price{
    background: #d0cece;
}
.total{
    background: #e71a0f;
    color: #fff;
}
.minute, .second{
    display: inline-block;
    background: #fff;
    margin: 10px 0;
    height: 91px;
    width: 75px;
    padding: 10px;
    border-radius: 4px;
}
.big-num{
    font-size: 20px;
    background: #E71A0F;
    padding: 15px;
    color: #fff;
    border-radius: 4px;
    width: 100%;
    height: 73%;
}
.small-word{
    opacity: 0.6;
    font-size: 14px;
    padding-top: 5px;
}
.clock{
    background: #d0cece;
    text-align: center;
}
.countdown{
    font-size: 13px;
}
.seat-info{
    display: block;
}
#std{
    font-weight: bold;
}
.dot{
    border-right: 2px dotted #58595b;
}
.btn-payment{
    background: url(https://www.cgv.vn/skin/frontend/cgv/default/images/bg-cgv/bg-cgv-button-process.png) no-repeat;
    background-position: -134px -110px;
    display: inline-block;
    height: 108px;
    width: 123px;
    border: none;
}
.middle{
    padding-top: 16px;
    font-size: 12px;
}
.prev, .btn-payment{
    margin-top: 12px;
}
.red{
    color: #ff0000;
    font-weight: bold;
}